.controller {
  display: flex;
  padding: 8px;
  justify-content: space-between;
}




/* container for days */
#day {
  display: flex;
  flex-direction: column;
}

/* individual day */
.day {
  display: flex;
  width: 120px;
  margin: 0;
  color: #5D6E84;
}

/* hides default radio button to allow for custom radio button */
.day input[type=radio]{
  position: absolute;
  visibility: hidden;
}

/* label refers to the day of the week */
.day label {
  display: flex;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

.day:hover {
	color: #FFFFFF;
}
.container:hover {
	color: #FFFFFF;
}

.day:hover label .check{
  border: 3px solid #FFFFFF;
}

/* check refers to the customer marker that we created */
.check {
  display: block;
  position: relative;
  border: 2px solid #5D6E84;
  border-radius: 100%;
  height: 12px;
  width: 12px;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

/* check::before refers to the little circle inside button when selected */
.check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 6px;
  width: 6px;
  top: 3px;
	left: 3px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

/* the tilde is used to grab the next sibling */
input[type=radio]:checked ~ label {
  color: #CAB485;
}

input[type=radio]:checked ~ label .check {
  border: 3px solid #CAB485;
}

input[type=radio]:checked ~ label .check::before {
  background: #CAB485;
}




.place-type {
  margin: 2px;
}

/* Customize the label (the container) */
.container {
  display: flex;
  position: relative;
  cursor: pointer;

  color: #5D6E84;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-transition: all 0.25s linear;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  visibility: hidden;
}

/* Create a custom checkbox */
.checkbox {
  position: relative;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  border: 2px solid #5D6E84;

  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

/* On mouse-over, when unchecked, border appears white */
.container:hover input ~ .checkbox {
  border: solid white;
}

/* When the checkbox is checked, hold gold border color */
.container input:checked ~ .checkbox {
  border: 3px solid #CAB485;
}

/* When hover over checked checkbox, text turns white */
.container input:checked:hover ~ .checkbox {
  border: 3px solid white;
}

/* Create the checkmark/indicator (hidden when not checked) */
/* :after allow you to add text content after the selected element */

/* Checkmark/indicator */
.checkbox:after {
  content: "";
  position: absolute;
  left: 3px;
  top: -1px;
  width: 5px;
  height: 10px;

  border: solid rgb(34,46,63);
  border-width: 0 0 0 0;

  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);

  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

/* Show the custom checkmark when checked */
.container input:checked ~ .checkbox:after {
  border: solid #CAB485;
  border-width: 0 3px 3px 0;
}

/* When hovered over checked checkbox, checkmark turns white */
.container input:checked:hover ~ .checkbox:after {
  border: solid white;
  border-width: 0 3px 3px 0;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

/* When checked, place type stays colored */
.container input:checked ~ div {
  color: #CAB485;
  transition: color .25s linear;
  -webkit-transition: color .25s linear;
}

/* When hover over checked box, text turns white */
.container input:checked:hover ~ div {
  color: white;
  transition: color .25s linear;
  -webkit-transition: color .25s linear;
}




.controller-sliders {
  display: flex;
  flex-direction: column;
}

.hour-controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hour-controls-buttons {
  display: flex;
  align-items: center;
}

button {
  color: black;
  background-color: lightgray;
  border: none;
  border-radius: 2px;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 0 5px;

  transition: 0.3s;
  transition-timing-function: linear;
}

button:hover {
  cursor: pointer;
  background-color: #CAB485);
  color: white;
}

input:hover {
  cursor: pointer;
}

input[type=range] {
  margin: 10px;
  width: 75%;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    background: #5D6E84;
}

/* thumb refer to the button on the slider */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background: #CAB485;
    margin-top: -5px;
    transition: background .25s ease-in-out;
}

input[type=range]::-webkit-slider-thumb:hover {
    background: white;
}

/* removes highlighting when selected */
input[type=range]:focus {
    outline: none;
}

/*input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}*/

#hourSliderContainer {
  display: flex;
  justify-content: center;
  height: auto;
}

#resturantDensitySliderContainer {
  display: flex;
  justify-content: center;
}
