
.body {
  display: flex;
  background-color: rgb(34,46,63);
  color: white;
}

#clock {
  position: absolute;
  color: white;
  z-index: 3;
  margin: 40px;
}

.left {
  width: 50%;
  margin: 40px;
  font-family: 'Anaheim', sans-serif;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
}

.left-title {
  display: flex;
  font-size: 40px;
  justify-content: center;
}

.left-day {

}

#day {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.day {
  margin: 0 10px;
}

input[type=range] {
  margin: 10px 0;
  width: 75%;
}

#hourSliderContainer {
  display: flex;
  justify-content: center;
}

#resturantDensitySliderContainer {
  display: flex;
  justify-content: center;
}

.infowindow {
  color: rgb(34,46,63);
}

.footer {
  position: relative;
  bottom: 0;
  padding: 1rem;
}

.footer-logos {
  display: flex;
  justify-content: center;
}

.footer-logos a {
  margin: 10px;
  color: white;
  text-decoration: none;
  font-size: 40px;
}
