
.body {
  display: flex;
  background-color: rgb(34,46,63);
  color: white;
}

#clock {
  position: absolute;
  color: white;
  z-index: 3;
  margin: 40px;
  font-size: 35px;
}

.left {
  position: relative;
  width: 45%;
  margin: 40px;
  font-family: 'Anaheim', sans-serif;

  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
}

.left-title {
  top: 0;
  display: flex;
  font-size: 40px;
  justify-content: center;
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
}

.controller{
  display: flex;
}

#day {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: left;
}

.day {
  width: 100px;
  margin: 0 10px;
}

.controller {
  display: flex;
}

.controller-sliders {
  display: flex;
  flex-direction: column;
}

.hour-controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hour-controls-buttons {
  display: flex;
  align-items: center;
}



button {
  color: black;
  background-color: white;
  border: none;
  border-radius: 2px;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 0 5px;

  transition: 0.3s;
  transition-timing-function: linear;
}

button:hover {
  cursor: pointer;
  background-color: black;
  color: white;

}

input:hover {
  cursor: pointer;
}

input[type=range] {
  margin: 10px 0;
  width: 75%;
}

#hourSliderContainer {
  display: flex;
  justify-content: center;
}

#resturantDensitySliderContainer {
  display: flex;
  justify-content: center;
}

.infowindow {
  color: rgb(34,46,63);
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  padding-bottom: 0
}

.footer-logos {
  display: flex;
  justify-content: center;
}

.footer-logos a {
  margin: 10px;
  margin-top: 15px;
  color: white;
  text-decoration: none;
  font-size: 40px;
  transition: color 0.3s;
  transition-timing-function: linear;
}
.footer-logos a:hover {
  color: black;
}

.colors {
  display: flex;
  justify-content: center;
}

.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
