html, body {
  height: auto;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  background-color: rgb(34,46,63);
  color: #CAB485;
  font-family: 'Anaheim', sans-serif;
  overflow: scroll;
}

.left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: scroll;
}

.left-title {
  /*color: #D59563;*/
}

.subheader {
  color: #D59563;
  font-size: 16px;
}

.description-container {
  border: 2px solid rgb(118,105,82);
  padding: 8px;
  border-radius: 2%;
}

.description-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description-text div {
}

.description-text-explanation {
}

.description-text-explanation button {
  margin: 0 6px;
}

.footer {
  padding-top: 10px;
  /*margin-top: auto;*/
  bottom: 0;
  right: 0;
}

.footer-logos {
  display: flex;
  justify-content: center;
}

.footer-logos a {
  margin: 10px;
  margin-top: 15px;
  color: white;
  text-decoration: none;
  font-size: 40px;
  transition: color 0.3s;
  transition-timing-function: linear;
}

.footer-logos a:hover {
  color: #CAB485;
}
