/*above 1150*/
/*@media screen and (min-width: 1150px) {

  .body {
    display: flex;
    flex-direction: row;
  }

  .left {
    width: 45%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .left-title {
    top: 0;
    display: flex;
    font-size: 40px;
    font-weight: bold;
  }

  .left-content {
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: space-between;
  }

  #footer-mobile {
    display: none;
  }

}*/

/*between 950 and 1150*/
@media screen and
  (min-width: 1000px) {

  .body {
    display: flex;
    flex-direction: row;
  }

  .left {
    width: 45%;
    margin: 20px;
    min-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .left-title {
    top: 0;
    display: flex;
    font-size: 32px;
    font-weight: bold;
    justify-content: center;
  }

  .left-content {
    display: flex;
    flex-direction: column;
    height: 410px;
    justify-content: space-between;
  }

  #footer-mobile {
    display: none;
  }

}

/*between 490 and 950 for mobile/tablet*/
@media screen and
  (max-width: 1000px) and
  (min-width: 450px) {

  .body {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    overflow: scroll;
  }

  #map {
    width: 95%;
    height: 99vh;
  }

  .left {
    width: auto;
    max-width: 565px;
    min-width: 310px;
    height: auto;
    margin: 15px;
    justify-content: center;
  }

  .left-title {
    top: 0;
    display: flex;
    font-size: 25px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 10px;
  }

  .left-content {
    display: flex;
    flex-direction: column-reverse;
  }

  .controller {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    padding-top: 15px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .controller-sliders {
    display: flex;
    justify-content: space-between;
    min-height: 140px;
    width: 275px;
  }

  #footer {
    display: none
  }
  #footer-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .footer-text {
    text-align: center;
    max-width: 400px;
  }

}

@media screen and
  (max-width: 450px) {

  .body {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    overflow: scroll;
  }

  #map {
    width: 95%;
    height: 99vh;
  }

  .left {
    width: 90%;
    max-width: 550px;
    min-width: 310px;
    height: auto;
    margin: 15px;
    justify-content: center;
  }

  .left-title {
    top: 0;
    display: flex;
    font-size: 25px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 10px;
  }

  .left-content {
    display: flex;
    flex-direction: column-reverse;
  }

  .controller {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 0;
  }

  .controller-sliders {
    display: flex;
    margin-top: 5px;
    height: 140px;
    width: 75%;
  }

  .controller-sliders input {
    margin: 4px;
  }

  #footer {
    display: none;
  }
  #footer-mobile {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .footer-text {
    text-align: center;
    max-width: 380px;
  }

  .modal-content {
    width: 80%;
    min-width: 80%;
    height: 87%;
  }

  .dots-color-info {
    margin-right: 20px;
  }

  .selectable {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .description-populartimes img {
    margin: -15px 0;
  }

  #clock {
    font-size: 25px;
    margin: 5px 12px;
  }

}



@media screen and
  (orientation: landscape) and
  (max-height: 600px) {

  .body {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    overflow: scroll;
  }

  #map {
    width: 95%;
    height: 99vh;
  }

  .left {
    width: 90%;
    max-width: 550px;
    min-width: 310px;
    height: auto;
    margin: 15px;
    justify-content: center;
  }

  .left-title {
    top: 0;
    display: flex;
    font-size: 25px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 10px;
  }

  .left-content {
    display: flex;
    flex-direction: column-reverse;
  }

  .controller {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 0;
  }

  .controller-sliders {
    display: flex;
    margin-top: 5px;
    height: 140px;
    width: 75%;
  }

  .controller-sliders input {
    margin: 4px;
  }

  #footer {
    display: none;
  }

  #footer-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
  }
  .footer-text {
    text-align: center;
    max-width: 380px;
  }

  .modal-content {
    width: 80%;
    min-width: 80%;
    height: 70%;

  }

  .dots-color-info {
    margin-right: 20px;
  }

  .selectable {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .description-populartimes img {
    margin: 20px 0;
  }

  .populartimes-img {
    width: auto;
    object-fit: none;
  }

  #clock {
    font-size: 25px;
    margin: 5px 12px;
  }

}
