/*above 1160*/
@media screen and (min-width: 1150px) {

  .body {
    display: flex;
    flex-direction: row;
  }

  .left {
    width: 45%;
    margin: 20px;
    display: flex;
    flex-direction: column;
  }

  .left-title {
    top: 0;
    display: flex;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
  }

}

/*between 640 and 1160*/
@media screen and
  (max-width: 1150px) and
  (min-width: 800px) {

  .body {
    display: flex;
    flex-direction: row;
  }

  .left {
    width: 45%;
    margin: 20px;
    min-width: 450px;
    display: flex;
    flex-direction: column;
  }

  .left-title {
    top: 0;
    display: flex;
    font-size: 32px;
    font-weight: bold;
    justify-content: center;
  }

}

/*below 640 for mobile*/
@media screen and (max-width: 950px) {

  .body {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    overflow: scroll;
  }

  #map {
    width: 95%;
    height: 99vh;
  }

  .left{
    width: 320px;
    min-width: 310px;
    height: auto;
    margin: 20px;
    justify-content: center;
  }

  .left-title {
    top: 0;
    display: flex;
    font-size: 25px;
    font-weight: bold;
    justify-content: center;
  }

  .description-text div {
  }

  #footer {
    display: none;
  }

}
